<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./CSS/bootstrap.min.css">
    <link rel="stylesheet" href="./CSS/all.min.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alkalami&family=Cairo:wght@400;700&family=Open+Sans:wght@300;400;700&family=Public+Sans:wght@200;300;400&family=Roboto:wght@100;300;400;500&family=Source+Sans+Pro:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/fontawesome.css">
    <link rel="stylesheet" href="./CSS/fontawesome.min.css">
    <title>Module3</title>
</head>

<body ng-app="NarrowItDownApp">

    <div>
        <div class="container">
            <header class="row">
                <div class="col-md-12">
                    <h1 class="fw-bold text-center p-2">
                        <span class="titleName">Narrow It Down</span>
                    </h1>
                    <h3 class="fw-bold mt-5 mb-5 p-2">MeroSH's solution to assignment in Module 3</h3>
                </div>
            </header>

            <!-- *** Row with lists *********************************************** -->
            <div class="row" ng-controller="NarrowItDownController as search">

                <div class="col-md-4">
                    <div class="m-2 p-2">
                        <h2 class="fw-bold">Search menu</h2>
                        <p>
                            <input type="text" id="searchFor" ng-model="search.searchFor" class="form-control"
                                placeholder="Enter item to search for" />
                        </p>
                        <p>
                            <button ng-click="search.search()" class="btn btn-dark pull-right p-3 fw-bold">Narrow It
                                Down For
                                Me!</button>
                        </p>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="m-2 p-2">
                        <h2 class="fw-bold">Found menu items</h2>
                        <ul class="striped">
                            <li ng-repeat="item in search.found">
                                <button class="btn btn-danger pull-right" ng-click="search.onRemove($index);">Don't want
                                    this one!</button>
                                <span>{{ item.name }} [{{ item.short_name }}]</span>
                                Content: {{ item.description }}
                            </li>
                        </ul>
                        <p>{{ search.searchResult }}</p>
                        <item-list title="Items found" list="search.found" result="{{ search.searchResult }}"
                            remove="search.onRemove(index)"></item-list>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="./JS/bootstrap.bundle.min.js"></script>
    <script src="./JS/all.min.js"></script>
    <script src="./JS/angular.min.js"></script>
    <script src="./JS/app.js"></script>

</body>

</html>